# Python / Flask
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtualenvs
.venv/
.venv*/
venv/
env/

# Local settings / secrets
.env
*.secret

# SQLite / Instance data (lokale Test-DB)
*.db
instance/

# IDE / OS
.vscode/
.DS_Store
Thumbs.db
